
<% if(messages.success) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index: 2; margin-top: 57px; position:fixed; top:0px; width: 100%;">
        <%= messages.success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
    
<% if(messages.error) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 2;margin-top: 57px; position:fixed; top:0px; width: 100%;">
        <%= messages.error %>
    </div>
<% } %>
<script>
    setTimeout(()=> {
      document.querySelector('.alert').remove();
    }, 5000);
</script>
