<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cafe">카페 목록</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <form class="d-flex" role="search">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img width = "25px" height = "25px" src="/images/magnifier.png" alt="">
            </button>
          </form>
        </li>
      </ul>
      <span class="nav-item">
        <% if(!currentUser) { %>
          <a class="nav-link" href="/user/signin">Log in</a>
        <% } else{ %>
          <a class="nav-link" href="/user/logout">Log out</a>
        <% }%>
      </span>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">검색</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/searched_cafe">
        <div class="modal-body row">
          <input type="text" name="searchingData" placeholder="메뉴명/가게명">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">검색</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          
        </div>
      </form>
    </div>
  </div>
</div>