<div class="sidebar">
    <a href="/">Home</a>
    <a href="/cafe">카페목록</a>
    <a href="#userInfo">사용자 정보</a>
    <a href="#myReviews">내 댓글</a>
    <a href="#likeCafe">찜목록</a>
    <a href="#createdCafe">내가 생성한 카페</a>
</div>