<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>카페 만들기</title>
</head>
<body>
    <% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row justify-content-md-center text-center">
            <h1 class="my-3"> 카페 생성 페이지</h1>
            <div class="card" style="width: 25rem;">
                <form action="/cafe" method="POST">
                <div class="card-body">

                <h5 class="card-title">카페 항목 생성</h5>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <label for="cafeName">카페 이름</label>
                    <input id="cafeName" type="text" name="cafe[name]"> <!-- name속성 : 서버로 전달되는 이름-->
                </li>
                <li class="list-group-item">
                    <label for="cafeLocation">카페 위치</label>
                    <input id="cafeLocation" type="text" name="cafe[location]">
                </li>
                <li class="list-group-item">
                    <div class=" flex-column mb-3">
                        <h5>설명</h5>
                        <textarea placeholder="카페 특징, 장점, 단점 등&#10;(최대 300자)" name="cafe[description]" id="" cols="40" rows="7" maxlength="300"></textarea>
                    </div>
                </li>   
                <li class="list-group-item">
                    <h5>대표 메뉴</h5>
                    <input id ='repre0' type="text" name="cafe[repreMenu]" style="margin-bottom: 3px;">
                    <input id ='repre1' type="text" name="cafe[repreMenu]" style="margin-bottom: 3px;">
                    <input id ='repre2' type="text" name="cafe[repreMenu]"style="margin-bottom: 3px;">
                    <div>
                        <button id="repMenuBtn" class="btn btn-primary btn-sm mx-3">확인</button>
                    </div>
                </li>
                <li class="list-group-item">
                    <div id ="menus" class=" flex-column mb-3">
                        <h5>메뉴명 / 가격</h5>
                        <div class="row">
                            <input class='col-8 menuName0' id="menuName" type="text" name="menu[name]" style="margin-bottom: 3px; background-color: #edede9;" readonly >
                            <input class='col-4' id='price' placeholder = '₩' type="text" name="menu[price]" style="margin-bottom: 3px;">
                            <input class='col-8 menuName1' id="menuName" type="text" name="menu[name]" style="margin-bottom: 3px;background-color: #edede9;" readonly >
                            <input class='col-4' id='price' placeholder = '₩' type="text" name="menu[price]" style="margin-bottom: 3px;">
                            <input class='col-8 menuName2' id="menuName" type="text" name="menu[name]" style="margin-bottom: 3px;background-color: #edede9;" readonly >
                            <input class='col-4' id='price' placeholder = '₩' type="text" name="menu[price]" style="margin-bottom: 3px;">
                        </div>
                    </div>
                    <div class="card-body" style="padding-top:2px">
                        <button id="addMenuBtn"class ="btn btn-success" style="width: 3em; text-align: center;">+</button>
                        <button id="deleteMenuBtn"class ="btn btn-success" style="width: 3em; text-align: center;">-</button>
                     </div>  
                </li>
                    <li class="list-group-item">
                        <div id ="menus" class=" flex-column mb-3">
                            <h5>분위기</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cafe[purpose]" id="inlineRadio1" value="study">
                                <label class="form-check-label" for="inlineRadio1">공부하기 좋음</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cafe[purpose]" id="inlineRadio2" value="talk">
                                <label class="form-check-label" for="inlineRadio2">수다떨기 좋음</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cafe[purpose]" id="inlineRadio3" value="nofeatures">
                                <label class="form-check-label" for="inlineRadio3">이외</label>
                              </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary btn-sm mx-3">확인</button>
                    <button class="btn btn-secondary btn-sm mx-3">취소</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous">
</script>
</body>
</html>

<script>
    const repMenuBtn = document.querySelector('#repMenuBtn')
    const repre0 = document.querySelector('#repre0')
    const repre1 = document.querySelector('#repre1')
    const repre2 = document.querySelector('#repre2')

    const menuName0 = document.querySelector('.menuName0')
    const menuName1 = document.querySelector('.menuName1')
    const menuName2 = document.querySelector('.menuName2')

    const addMenuBtn = document.querySelector('#addMenuBtn')
    const menus = document.querySelector('#menus')
    const deleteMenuBtn = document.querySelector('#deleteMenuBtn')

    let inputCnt = 0;


    addMenuBtn.addEventListener('click', e=>{
        e.preventDefault();
        const newInput = document.createElement('input');
        const row = document.createElement('div')
        row.setAttribute('class', 'row')
        newInput.setAttribute('id', 'menuName')
        newInput.setAttribute('name', 'menu[name]')
        newInput.setAttribute('style', 'margin-bottom:3px')
        newInput.setAttribute('class', 'col-8')

        const priceInput = document.createElement('input');
        priceInput.setAttribute('id', 'price')
        priceInput.setAttribute('placeholder', '₩')
        priceInput.setAttribute('name', 'menu[price]')
        priceInput.setAttribute('style', 'margin-bottom:3px')
        priceInput.setAttribute('class', 'col-4')
        
        row.append(newInput)
        row.append(priceInput)

        menus.append(row)
        inputCnt++;
    })

    deleteMenuBtn.addEventListener('click', e=>{
        e.preventDefault();
        if(inputCnt == 0){
            alert('대표 메뉴는 삭제할 수 없습니다. 대표메뉴 항목에서 재설정 해주세요.')
        }
        else{
            e.preventDefault();
            menus.removeChild(menus.lastChild)
            inputCnt--;
        }
    })

    repMenuBtn.addEventListener('click', e=>{
        e.preventDefault();
        menuName0.value = repre0.value;
        menuName1.value = repre1.value;
        menuName2.value = repre2.value;

    })

</script>