
<% layout('layouts/userBoilerplate.ejs') %>
<div class="main">
    <div class="container">
        <h1 class="m-3">사용자 정보</h1>
        <div class="row">
            <div class="col-5 userInfoContainer pb-3 pt-3">
                   <h3>회원정보</h3>
                   <div>닉네임</div>
                   <div style="border-bottom: 2px solid #adb5bd; font-weight: bold;">지미</div>
                   <div>이메일</div>
                   <div style="border-bottom: 2px solid #adb5bd; font-weight: bold;" >sdfsdf@nae.com</div>
            </div>
            <div class="col-5 userInfo2Container">
                <h3>내가 쓴 댓글</h3>
            </div>
        </div>  
    </div>
</div>
