.card_link{
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
  }

  .card_link:hover .card{
    background-color: aliceblue;
  }

  .hover_changeBg{
    background-color: aliceblue;
  }

  .menuBackground{
    border: 2px solid #e6e8e6;
    border-radius: 15px;
    padding-top: 10px;
  }

  .cafeItem{
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); 

  }
  .filterSection{
    background-color: white;
    padding-top: 250px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
  }

  .filterContainer{
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 600px;
    width:80%;
    background-color: white;
    border: 1px solid black;
    padding: 5px 0px 5px 10px;
    border-radius: 70px 70px 70px 70px;
  }
  .filterSection select{
    height: 50px;
    border:none;
    border-left:groove 2px #e7ecef;
    padding-left:15px;
  }

  .filterSection input{
    border-radius: 30px 0px 0px 30px;
    width:350px;
    height: 50px;
    border:none;

  }
  .filterSection button{
    position: relative;
    left:0.3em;
    border: none;
    color: white;
    background-color: #2b2d42;
    border-radius: 50px;
    height: 60px;
    width: 60px
  }

  .filterText1{
    position:relative;
    top:-0.3em;
    font-size: 40px;
    font-weight: 800;
    margin: 10px;
    font-weight: 800;
  }
  .filterText2{
    margin: 5px;
    font-size: 20px;
    font-weight: 800;
  }

  .filterText3{
    position:relative;
    left:-130px;
    top:8px;
    margin: 5px;
    font-size: 20px;
    font-weight: 800;
  }

  @media (max-width:760px){

    .filterContainer{
      display:flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      border: none;
    }
    .filterBtn{
      max-width: 300px;
      width:80% !important;
    }

    .filterContainer > input{
      width: 80% !important;
      margin: 0;
      border-radius: 10px 10px 10px 10px;
      border: 1px solid #2b2d42;
    }
    .filterContainer select{
      border:none;
      width:15em;

    }
    .selectContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .filterText2To4{
      display: flex;
      padding-left: 4em;
    }
    .filterText1{
      top:0;
      margin-bottom: 0px;
    }
    .filterText2{
      text-align: left;
      margin:0px;
    }
  }

.cafeContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardWrapper{
  display: inline-block;
  width:18em;
  margin:1em;
}
